/*==================================================
PC_KV
==================================================*/
.first-view {
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  padding: 100px 0;
}
